.main {
  width: 100%;
  max-width: var(--w-1920);
  height: 200vh;
  overflow: hidden;
}

.firstScreen,
.secondScreen {
  width: 100%;
  height: 100vh;
  max-height: var(--h-1080);
  position: relative;
  background-image: url('/subtle_orange_emboss.webp');
}

.secondScreen {
  margin-bottom: var(--bottom-bar-height);
}

.buttonsAndTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
}

.buttons {
  max-height: 30px;
  display: flex;
  gap: 6%;
  margin: -5px 1.5% 0 20%;
  z-index: 10;
}

.firstScreenContent {
  width: 100%;
  height: calc(100% - var(--top-bar-height));
  padding: 1.2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .contact {
    width: 80%;
  }
}

@media screen and (max-width: 988px) {
  .buttons {
    margin-left: 24%;
  }
  .firstScreenContent {
    flex-direction: column;
  }
}

@media screen and (max-width: 882px) {
  .buttons {
    margin-left: 30%;
    gap: 10%;
  }

  .contact {
    width: 100%;
  }
}

@media screen and (max-width: 686px) {
  .buttons {
    justify-content: flex-start;
    margin-left: 0;
    margin-top: -30px;
    gap: 6%;
  }

  .firstScreenContent {
    height: calc(100% - var(--top-bar-height) - var(--added-height-to-top-bar));
  }
}

@media screen and (max-width: 586px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }
}
