.container {
  width: 50%;
  height: calc(100% - var(--top-bar-height));
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer i,
.title {
  display: inline;
}

.titleContainer {
  width: 210px;
  position: absolute;
  top: -25px;
  left: 15px;
  text-align: center;
  background-image: url('/subtle_orange_emboss.webp');
}

.titleContainer i {
  margin-right: 7px;
  font-size: 2.2rem;
  color: var(--left-logo-color);
}

.title {
  font-family: 'Alatsi', sans-serif;
  color: var(--bar-bg-color);
  font-size: 3rem;
}

.messages {
  width: 95%;
  position: relative;
  padding: 3% 1% 1% 1%;
  border: var(--bar-bg-color) 2px solid;
  border-radius: 15px;
}

.wrapper {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow-y: auto;
  max-height: 65vh;
}

.wrapper::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.message {
  margin-bottom: 1.5%;
  padding: 1%;
  background-color: var(--message-bg-color);
  border: var(--top-bar-bg-transparent-color) 1px solid;
  border-radius: 10px;
}

.message:last-child {
  margin-bottom: 0;
}

.date {
  margin-bottom: 1%;
  font-family: 'Genos', sans-serif;
  font-size: 2.6rem;
}

.text {
  font-size: 1.7rem;
}

@media screen and (max-width: 686px) {
  .container {
    height: calc(100% - var(--top-bar-height) - var(--added-height-to-top-bar));
  }
}
