.offer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--bar-bg-color);
  z-index: 5;
}

.wrapper {
  width: 100%;
}

.title {
  margin-bottom: 6%;
  font-size: 3rem;
  text-align: center;
}

.text {
  margin-bottom: 2%;
  padding-left: 2%;
  font-size: 2.5rem;
}

.text::before {
  content: '\2771';
  margin-right: 1.5%;
  font-size: 2.2rem;
  color: var(--title-lighter-color);
}

.text:nth-child(even) {
  margin-left: -3%;
}

.text:nth-child(odd) {
  margin-left: 3%;
}

.shadow {
  transition: text-shadow 0.6s ease-in;
  text-shadow: 1px 1px 2px var(--left-logo-color);
}

@media screen and (max-width: 1276px) {
  .title {
    font-size: 2.7rem;
  }
  .text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 988px) {
  .offer {
    width: 95%;
    max-height: 30vh;
  }
  .title {
    margin-bottom: 4%;
  }
  .wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 686px) {
  .title {
    font-size: 2.3rem;
  }
  .text {
    font-size: 1.8rem;
    margin-bottom: 1.5%;
  }
  .text::before {
    font-size: 1.7rem;
  }
}
