.container {
  max-height: 95%;
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: transform 300ms ease-in-out;
  padding: 1.5%;
  border: var(--logo-shadow-color) 2px solid;
  border-radius: 15px;
  background-color: var(--popup-bg-transparent-color);
  font-size: 1.8rem;
  color: var(--white);
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow-y: auto;
  z-index: 20;
}

.container::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.button {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  background-color: transparent;
  border: none;
  font-size: 3.2rem;
  color: var(--logo-shadow-color);
  cursor: pointer;
}

.button:hover {
  color: var(--white);
}

.title {
  margin-top: 3%;
}

.bullet {
  position: relative;
  display: block;
  margin-left: 30px;
}

.bullet::before {
  position: absolute;
  top: 5px;
  left: -30px;
  font-family: 'Font Awesome 5 Free';
  content: '\f0da';
  font-weight: 900;
}

.paragraph {
  margin-top: 2%;
}

.active {
  transform: translate(-50%, -50%) scale(1, 1);
}

@media screen and (max-width: 988px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 686px) {
  .container {
    font-size: 1.6rem;
    width: 95%;
  }
  .title {
    margin-top: 5%;
  }
  .paragraph {
    margin-top: 3%;
  }
  .button {
    top: 0.5%;
    right: 2.5%;
  }
}

@media screen and (max-width: 460px) {
  .title {
    margin-top: 14%;
  }
}
